<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/vendor/phoenix.js"></script>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Pitch Lobby</a>
        </div>
      </div>
    </div>

    <div class="container">

      <%= if notice = Flash.get(@conn, :notice) do %>
        <div class="container">
          <div class="row">
            <p><%= notice %></p>
          </div>
        </div>
      <% end %>

      <%= @inner %>

    </div>
  </body>
</html>
